<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<head>
<meta content="charset=utf-8" />
<link rel="stylesheet"  href="styles.css" />

<title>Ihre moderne Onlinebank</title>
</head>

<body>
    <div id="page">
		
        <div id="titlebar">

        <h1><%= content %></h1>
      </div>
        <div id="bar">
            <ul>
                <li><a href="#"></a>bereits angemeldet</a></li>
                <a href="/login" class="button">Abmelden</a>
                <a href="/ueberweisung" class="button">Überweisen</a>
            </ul>
      </div>
        <div id="main">
        <h1>N27 basiert auf einer eigenen Idee und macht Spaß!</h1>
        <p>Unser Ziel ist es, eine einmalge Bank zu sein. Bitte geben sie uns Ihr Geld! Es ist bestimmt sicher.</p>
        
        <h1>Willkommen in ihrem Konto! Lassen sie sich jetzt beraten.</h1>
        <p>Jan Queisler ist ein erfahrener Banker.</p>
        <div class="gallery">
            <a target="_blank" href="http://www.pngnames.com/files/4/Bank-PNG-Background.png">
              <img src="http://www.pngnames.com/files/4/Bank-PNG-Background.png" alt="Bank" width="600" height="400">
            </a>
            <h2>Die N27 Filliale</h2>
          </div>
</body>
</html>
