<!DOCTYPE html>
<html lang="de">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet"  href="styles.css" />
        <title>Konto anlegen</title>  
    </head>
    <body>
        <h2>Konto anlegen</h2>
        <form method="POST" action="/">
            <p>gewünschte Kontonummer</p>
            <input type="number" title="idkonto" name="idkonto"/>
            <button>Konto anlegen</button>      
        </form>
    </body>
</html>