<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet"  href="styles.css" />
    <title>Überweisung tätigen!</title>
</head>
<body>
    <h2>Überweisung tätigen!</h2>

    <a href="/" class="button">Home</a>
</body>
</html>