body {
    background-color: lemonchiffon;
  }
  
  h1 {
    color: black;
    text-align: left;
  }
  
  p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
  }

  input[type=text] {
    border: none;
    border-bottom: 1.5px solid black;
  }
  input[type=password] {
    border: none;
    border-bottom: 1.5px solid black;
  }

  .button {
    background-color: rgba(48, 59, 212, 0.459);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: right;
    text-decoration: bisque;
    display: inline-block;
    font-size: 18px;
  }
  div.gallery {
    margin: 5px;
    float: center;
    width: 400px;
  }
  div.gallery img {
    width: 100%;
    height: auto;
  }
